body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%; /* Adjust the width as needed */
    height: 500px; /* Adjust the height as needed */
    background-image: url('img/back.PNG');
    background-size: cover; /* Ensures the image covers the entire element */
    background-repeat: repeat; /* Prevents the image from repeating */
    text-decoration: none; /* Remove underline from link */
    color: transparent;
}

#passage {
    text-align: center;
    padding: 10px 15px;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
}

#passage {
    margin-top: 5%;
}

#formContainer {
    margin-top: 5%;
}

h3 {
    color: red;
}

#passage span {
    color: green;
    font-size: 20px;
    font-weight: 800;
}

form label {
    display: block;
    margin-bottom: 2px;
    text-align: left;
    font-weight: 800;
    font-size: 14px;
    color: black;
}

form label span {
    color: #737373;
}

form input,
form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #757575;
    border-radius: 5px;
    box-sizing: border-box;
}

form input:focus,
form select:focus {
    border-color: #1593fa;
    border-width: 1.5px;
    border-style: solid;
    box-shadow: 0 0 10px solid rgba(0, 98, 137, 0.813);
    outline: none;
}

#formsContainer {
    position: relative;
    background: white;
    padding: 10px 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

.emojiContainer {
    margin-top: -40px;
    margin-bottom: 20px;
}

.emojiContainer img {
    width: 80px;
    height: 80px;
    margin: 1px 15px;
}

 h4 {
    margin-bottom: 20px;
    font-size: 14px;
    color: red;
}

.eiContainer img {
    width: 50px;
    height: 50px;
}

form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    font-weight: 600;
    color: black;
}

form label span {
    color: #737373;
    font-size: 12px;
}

form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #757575;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    background-color: #f0cc4b;
    color: rgb(0, 0, 0);
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
}

form button:hover {
    background-color: #e3bf3a;
}

footer {
    background: #ffffff;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ddd;
    margin-top: 50px; /* Ensure the footer is at the bottom */
}

footer p {
    margin: 5px 0;
    color: #333;
    font-size: 14px;
}

footer a {
    color: #007BFF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {

    body {
        width: 100%;
        background-image: url('img/back.PNG');
    }

    #passage,
    #formsContainer {
        width: 90%;
        padding: 10px;
    }

    form input,
    form button {
        width: 100%;
    }
}

@media (max-width: 480px) {


    #passage{
        padding: 5px 20px;
        width: 75%;
    }

    #formsContainer {
        padding: 20px;
        width: 75%;
    }

    .emojiContainer img {
        width: 50px;
        height: 50px;
        margin: 1px 15px;
    }
    
    form input,
    form button {
        padding: 8px;
    }

    footer {
        margin-top: 110px;
        font-size: 12px;
        padding: 10px;
    }
}
